{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends 'layouts/questions.njk' %}

{% block questions %}
  <h1 class="govuk-heading-l">{{pageTitle}}</h1>

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: originSummary
  }) }}
{% endblock %}
