{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends 'layouts/questions.njk' %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        <p class="govuk-body">
          There’s a possibility the calf will be 42 days old or older while we
          review your application.
        </p>
        <p class="govuk-body">
          Calves 42 days old or older must be tested for TB for a licence to be
          granted.
        </p>
        <form action="{{ continueUrl }}" method="get" novalidate="">
          <button
            type="submit"
            class="govuk-button"
            data-module="govuk-button"
            id="continue-button"
          >
            Continue
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
