{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% macro uploadSpinner(options) %}
  {% set display = "apha-block" %}
  {% if options.formPage %}
    {% set display = "apha-hidden" %}
  {% endif %}
  <div class="apha_upload-spinner" class="{{ display }}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ options.title }}</h1>
      </div>
    </div>
    <p>This may take a few minutes.</p>
    <div class="hods-loading-spinner">
      <div
        class="hods-loading-spinner__spinner"
        aria-live="polite"
        role="status"
      ></div>
      <div class="hods-loading-spinner__content"></div>
    </div>
  </div>
{% endmacro %}
