{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% call govukFieldset() %}
  <div class="autocomplete-wrapper">
    {{
      govukSelect(
        answer.viewModel(viewModelOptions)
      )
    }}
  </div>
{% endcall %}
