{% extends 'layouts/page.njk' %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          If the TB isolation unit has already been set up and approved, check
          if you can move animals with the licence that was issued with the
          approval.
        </p>
        <p>
          You need to complete and
          <a
            href="https://www.gov.uk/government/publications/approved-tb-isolation-unit-application"
          >
            submit the current application form on GOV.UK</a
          >
          if your movement does not meet the terms of the existing licence.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
