{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends 'layouts/page.njk' %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h1 class="govuk-heading-l">{{ heading }}</h1>
        {% set buttonClass = "" %}
        {% if incompleteTasks > 0 %}
          {% set buttonClass = "govuk-button--secondary" %}
          <p>
            You have
            <span data="test-id-task-to-complete-count"
              >{{ incompleteTasks }} out of {{ gdsTasks.length }}</span
            >
            sections left to complete.
          </p>
        {% else %}
          <p data="test-id-task-to-complete-count">
            You have completed all sections.
          </p>
        {% endif %}
        {{
          govukTaskList({
            idPrefix: "task-list",
            items: gdsTasks
          })
        }}
        <form method="POST">
          <input type="hidden" name="crumb" value="{{ crumb }}" /> {{
            govukButton({
                text: buttonText,
                classes: buttonClass
            })
          }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
