.DS_Store
.npm/
.vscode
.idea
.public
.server
node_modules
npm-debug.log
coverage
.cache
.envrc
browserstack.err
local.log
logs
src/server/common/services/compress/examples
src/server/common/services/compress/output
