services:
  redis:
    image: redis:7.2.3-alpine3.18
    ports:
      - '6379:6379'
    restart: always
    networks:
      - cdp-tenant

  your-frontend:
    build: ./
    ports:
      - '3000:3000'
    links:
      - 'redis:redis'
    depends_on:
      redis:
        condition: service_started
    env_file:
      - 'compose/aws.env'
    environment:
      PORT: 3000
      NODE_ENV: development
      REDIS_HOST: redis
      USE_SINGLE_INSTANCE_CACHE: true
      NOTIFY_API_KEY: ${NOTIFY_API_KEY}
      NOTIFY_CASE_DELIVERY_TEMPLATE_ID: ${NOTIFY_CASE_DELIVERY_TEMPLATE_ID}
      NOTIFY_CASE_DELIVERY_EMAIL_ADDRESS: ${NOTIFY_CASE_DELIVERY_EMAIL_ADDRESS}
      NOTIFY_APPLICANT_CONFIRMATION_TEMPLATE_ID: ${NOTIFY_APPLICANT_CONFIRMATION_TEMPLATE_ID}
      AWS_REGION: eu-west-2
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      UPLOADER_URL: http://cdp-uploader:7337
      FILE_S3_BUCKET: apha
      FILE_S3_PATH: biosecurity-map
      S3_ENDPOINT: http://localstack:4566
      CONSUMER_BUCKETS: apha
      MOCK_VIRUS_SCAN_ENABLED: false
      VIRTUAL_HOST: ~^frontend\..*\.sslip\.io
      VIRTUAL_POR: 80
      ANIMAL_IDENTIFIERS_ENABLED: ${ANIMAL_IDENTIFIERS_ENABLED}
      DEFRA_ID_ENABLED: ${DEFRA_ID_ENABLED}
      DEFRA_ID_OIDC_CONFIGURATION_URL: https://your-account.cpdev.cui.defra.gov.uk/idphub/b2c/b2c_1a_cui_cpdev_signupsignin/.well-known/openid-configuration
      DEFRA_ID_CLIENT_ID: 20695fe4-c376-481a-9600-5d68bd8ba4a4
      DEFRA_ID_SERVICE_ID: 63f2725d-9ad9-ef11-a730-7c1e524d74bc
      DEFRA_ID_CLIENT_SECRET: ${DEFRA_ID_CLIENT_SECRET}
      GATEWAY_ID: ${GATEWAY_ID}
      GATEWAY_PASSWORD: ${GATEWAY_PASSWORD}
      AUTH_REQUIRED: ${AUTH_REQUIRED}
    networks:
      - cdp-tenant

  cdp-uploader:
    image: defradigital/cdp-uploader:${CDP_UPLOADER_VERSION:-latest}
    ports:
      - '7337:7337'
    links:
      - 'localstack:localstack'
      - 'redis:redis'
    depends_on:
      localstack:
        condition: service_healthy
    env_file:
      - 'compose/aws.env'
    environment:
      VIRTUAL_HOST: ~^uploader\..*\.sslip\.io
      VIRTUAL_PATH: /
      VIRTUAL_PORT: 7337
      PORT: 7337
      NODE_ENV: development
      REDIS_HOST: redis
      USE_SINGLE_INSTANCE_CACHE: true
      MOCK_VIRUS_SCAN_ENABLED: true
      MOCK_VIRUS_RESULT_DELAY: 3
      SQS_ENDPOINT: http://localstack:4566
      S3_ENDPOINT: http://localstack:4566
    networks:
      - cdp-tenant

  proxy:
    image: nginxproxy/nginx-proxy:1.4
    ports:
      - '7300:80'
    environment:
      - ENABLE_IPV6=true
      - DEFAULT_ROOT="418"
      - DEFAULT_HOST=~^uploader\..*\.sslip\.io
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - cdp-tenant

  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack'
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh
    healthcheck:
      test: ['CMD', 'curl', 'localhost:4566']
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - cdp-tenant

networks:
  cdp-tenant:
    driver: bridge
