{%
  extends
  'layouts/confirmation.njk'
%}
{% block happensNextContent %}
  <p class="govuk-body">
    Licences can take up to 5 days to issue. For welfare cases, we will aim to
    process applications sooner.
  </p>
{% endblock %}
