{% extends 'layouts/questions.njk' %}

{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
    </div>
  </div>
{% endblock %}

{% block beforequestion %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        The cattle must have tested negative to a TB skin test within 30 days of
        the planned movement date.
      </p>
      <p>
        You need to enter the date they were injected on their most recent TB
        skin test.
      </p>
    </div>
  </div>
{% endblock %}
