@keyframes hods-loading-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hods-loading-spinner__spinner {
  border: 12px solid #dee0e2;
  border-radius: 50%;
  border-top-color: #1d70b8;
  width: 80px;
  height: 80px;
  -webkit-animation: hods-loading-spinner-animation 2s linear infinite;
  animation: hods-loading-spinner-animation 2s linear infinite;
}
