{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends 'layouts/questions.njk' %}
{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
    </div>
  </div>
{% endblock %}
{% block beforequestion %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>You must use a Defra-approved disinfectant for TB.</p>
      {{
        govukDetails({
          summaryText: "View approved disinfectants",
          html: "<ul class=\"govuk-body govuk-list--bullet\">
                  <li>Agrichlor</li>
                  <li>Anigene NaDCC</li>
                  <li>Anigene Professional Chlorine Tablets</li>
                  <li>Aquatabs 8.68g</li>
                  <li>Bi-OO-Cyst</li>
                  <li>Bimodex</li>
                  <li>BioChlor 200</li>
                  <li>BioChlor 500</li>
                  <li>Biocid 30</li>
                  <li>BioPhen Xtra</li>
                  <li>BIOSPOT</li>
                  <li>Coxicur</li>
                  <li>Credence 1000</li>
                  <li>Dis-In-Fect</li>
                  <li>FAM 30</li>
                  <li>High Power Sanitising Tablets 3.25g</li>
                  <li>Interkokask</li>
                  <li>Interkokask Concentrate</li>
                  <li>Iodo-Pharm</li>
                  <li>Mida CHRIOX F2</li>
                  <li>Mira 30</li>
                  <li>MS MEGADES OXY D</li>
                  <li>NEOGEN Farm Fluid MAX</li>
                  <li>Novagen F.P.</li>
                  <li>OmniChlor Plus</li>
                  <li>Prophyl S</li>
                  <li>Rapicid</li>
                  <li>Septrivet 17</li>
                  <li>Septrivet 87 8.68g</li>
                  <li>Stable Safe Strength 4.72g Tablets</li>
                  <li>Tibicur</li>
                  <li>Total Farm Disinfectant</li>
                  <li>V18</li>
                  <li>Virkon® LSP</li>
                  <li>Virochlor 500</li>
                  <li>Virophor 2.8%</li>
                  <li>Virudine Plus</li>
                </ul>"
        })
      }}
    </div>
  </div>
{% endblock %}
