{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends 'layouts/questions.njk' %}
{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
    </div>
  </div>
{% endblock %}
{% block beforequestion %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>You must use a Defra-approved disinfectant for TB.</p>
      {{
        govukDetails({
          summaryText: "View approved disinfectants",
          html: list
        })
      }}
    </div>
  </div>
{% endblock %}
