<p
  class="govuk-body-s govuk-!-text-align-right govuk-!-margin-top-2 govuk-!-margin-bottom-0"
>
  {{ displayName }}
  <span class="govuk-!-margin-left-3"
    ><a href="https://your-account.cpdev.cui.defra.gov.uk/management"
      >Manage account</a
    ></span
  >
  <span class="govuk-!-margin-left-3"><a href="/auth/logout">Sign out</a></span>
</p>
