{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends 'layouts/questions.njk' %}

{% block questions %}
  {% if (errorMessage) %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage.text,
          href: "#cph-number"
        }
      ]
    }) }}
  {% endif %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      id: "cph-number",
      name: "cphNumber",
      autocomplete: "cph-number",
      classes: "govuk-input--width-10",
      value: cphNumber.value,
      errorMessage: errorMessage,
      hint: {
        text: "For example, 12/345/6789"
      }
    }) }}

  {% endcall %}
{% endblock %}
