{% extends 'layouts/questions.njk' %}

{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
    </div>
  </div>
{% endblock %}

{% block beforequestion %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        You should have measures in place to prevent the spread of TB when the
        incoming animals are housed or have access to shared buildings.
      </p>
      <p>You should include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          how the incoming animals will be separated from the resident herd
        </li>
        <li>
          cleaning and disinfection measures for housing and shared buildings,
          including handling and milking facilities
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
