{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends 'layouts/questions.njk' %}

{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      <p>
        You must
        <a
          target="_blank"
          href="http://disinfectants.defra.gov.uk/DisinfectantsExternal/Default.aspx?Module=ApprovalsList_SI"
        >
          use a disinfectant approved for Tuberculosis Orders</a
        >
        (opens in a new tab).
      </p>
    </div>
  </div>
{% endblock %}
