{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends 'layouts/questions.njk' %}

{% block questions %}

  {{
    govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
            text: "What email address would you like the licence sent to?"
          },
          value: {
            text: licence.emailAddress.html
          },
          actions: {
            items: [
              {
                href: "licence-enter-email-address?redirect_uri=/receiving-the-licence/check-answers",
                text: "Change",
                visuallyHiddenText: "What email address would you like the licence sent to?",
                attributes: {
                  'data-testid': "email-address-change-link"
                }
              }
            ]
          }
        }
      ]
    })
  }}
{% endblock %}
