{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends 'layouts/questions.njk' %}

{% block questions %}
  {% if (errorMessage) %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage.text,
          href: "#on-off-farm-question"
        }
      ]
    }) }}
  {% endif %}

  {{ govukRadios({
    name: "onOffFarm",
    id: "test",
    fieldset: {
      legend: {
        text: "Are you moving the cattle on or off your farm?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    value: onOffFarm.value,
    items: [
      {
        id: "on-farm-radio",
        value: "on",
        text: "On the farm"
      },
      {
        id: "off-farm-radio",
        value: "off",
        text: "Off the farm"
      }
    ],
    errorMessage: errorMessage
  }) }}
{% endblock %}
