{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends 'layouts/questions.njk' %}

{% block questions %}
  {% include "model/answer/radio-button/radio-button.njk" %}
{% endblock %}
