{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% set viewModel = answer.viewModel(viewModelOptions) %}
{% set value = viewModel.value %}
{% set errors = viewModel.errors %}

{%
  call govukFieldset({
    legend: {
      text: viewModel.question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  })
%}
  {% if viewModel.explanation %}
    <p class="govuk-body">{{ viewModel.explanation }}</p>
  {% endif %}
  {{
    govukInput
    ({
        label:
        {
            text: "First name",
            classes: "",
            isPageHeading: false
        },
        id: "firstName",
        name: "firstName",
        errorMessage: errors.firstName,
        value: value.firstName,
        classes: "govuk-input--width-20"
    })
  }}
  {{
    govukInput
    ({
        label:
        {
            text: "Last name",
            classes: "",
            isPageHeading: false
        },
        id: "lastName",
        name: "lastName",
        errorMessage: errors.lastName,
        value: value.lastName,
        classes: "govuk-input--width-20"
    })
  }}
{% endcall %}
