{% from "govuk/components/button/macro.njk" import govukButton %}
{%
  extends
  'layouts/page.njk'
%}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h1 class="govuk-heading-l">{{ serviceName }}</h1>
        <h2 class="govuk-heading-m">What this service can be used for</h2>
        <p class="govuk-body">
          You can use this service to apply for a Bovine Tuberculosis (TB)
          movement licence.
        </p>
        <p class="govuk-body">
          Before animals move onto or off a farm or premises with TB
          restrictions, you must apply for a licence with the Animal and Plant
          Health Agency (APHA).
        </p>
        <h2 class="govuk-heading-m">
          Moving animals off a TB restricted farm to go to slaughter
        </h2>
        <p class="govuk-body">
          If you are moving animals from a TB restricted farm to slaughter, you
          do not need to use this service to apply for a licence.
        </p>
        <p class="govuk-body">
          You should have a general licence in the information pack sent to you
          from APHA. The pack was posted to you when your herd was placed under
          TB restriction.
        </p>
        <h2 class="govuk-heading-m">
          Moving animals onto a TB restricted farm
        </h2>
        <p class="govuk-body">
          If your farm or premises is not under TB restrictions and animals are
          moving onto a TB restricted farm, it is the responsibility of the TB
          restricted farm to apply for a licence. We need details about their
          biosecurity practices to process the licence.
        </p>
        <p class="govuk-body">
          If you need more information before you apply for a licence, see the
          <a
            href="https://www.gov.uk/guidance/bovine-tb-getting-your-cattle-tested-in-england"
            >Bovine TB: get your cattle tested in England</a
          >
          guidance.
        </p>
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">Licences cannot be assessed or issued if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>reactors are still on your farm or premises</li>
          <li>cattle are awaiting skin or blood test results</li>
        </ul>
        <p class="govuk-body">
          Contact your vet if you are unsure whether the tests have been sent.
          If APHA has not received the tests, there could be delays in
          processing your licence.
        </p>
        <p class="govuk-body">
          To apply for a licence, you need the following information:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>name of the County Parish Holding (CPH) owner</li>
          <li>
            County Parish Holding (CPH) number and address where the animals are
            moving from
          </li>
          <li>
            where the animals are moving to, for example the type of market
          </li>
          <li>email address to send the licence to</li>
        </ul>
        <p class="govuk-body">
          It can take up to 5 working days to process your application. It may
          take longer if veterinary checks are required, or we need further
          information.
        </p>
        <h2 class="govuk-heading-m">Get help</h2>
        <p class="govuk-body">
          If you need help using the service you can call 03000 200 301 and
          choose the option for TB licencing. Lines are open from Monday to
          Friday between 8.30am and 5pm.
        </p>
        {{
          govukButton({ text: "Start now", href:"task-list",
          isStartButton: true, attributes: "data-testid='start-now-btn'" })
        }}
        <h3 class="govuk-heading-m">Give feedback</h3>
        <p class="govuk-body">
          Your feedback will help improve this service. You can give feedback by
          <a
            href="https://defragroup.eu.qualtrics.com/jfe/form/SV_7ZDFNwIA2wLF9lk"
            target="_blank"
            >completing a short survey (opens in new tab)</a
          >.
        </p>
        <p class="govuk-body">You can also find the survey link on the:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>feedback banner at the top of the page throughout the service</li>
          <li>confirmation page once you complete your application</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
