{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          You should have a general licence in the information pack sent to you
          from the Animal and Plant Health Agency (APHA). The pack was posted to
          you when your herd was placed under TB restriction.
        </p>

        <p>
          This licence allows you to move animals from a TB restricted farm to
          slaughter.
        </p>

        <p>
          If you do not have a general licence, you can continue to apply for a
          new one.
        </p>

        <p>
          <a href="{{ continueUrl }}">Continue</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
