{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends 'layouts/questions.njk' %}

{% macro createSummary(rows) %}

  {% set summaryRows = [] %}
  {% for row in originSummary %}
    {% set rows = (summaryRows, summaryRows.push({
      key: {
        text: row.key,
        classes: "govuk-!-width-one-half govuk-!-font-weight-regular"
      },
      value: {
        html: row.value
      },
      actions: {
        items: [
          {
            href: row.url,
            text: "Change",
            visuallyHiddenText: row.visuallyHiddenKey,
            attributes: row.attributes
          }
        ]
      }
    })) %}
  {% endfor %}



  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: summaryRows
  }) }}
{% endmacro %}

{% block questions %}
  {{ createSummary(originSummary) }}
{% endblock %}
