{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends 'layouts/questions.njk' %}
{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        <p class="govuk-body">
          There’s a possibility the calf will be 42 days old or older while we
          review your application.
        </p>
        <p class="govuk-body">
          Calves 42 days old or older must be tested for TB for a licence to be
          granted.
        </p>
        {{
          govukButton({
            text: "Continue",
            href: nextPage
          })
        }}
      </div>
    </div>
  </div>
{% endblock %}
