{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends 'layouts/questions.njk' %}

{% block questions %}

  {{ govukRadios({
    name: "onOffFarm",
    id: "on-off-farm",
    fieldset:{},
    value: value,
    items: [
      {
        id: "onOffFarm",
        value: "on",
        text: "On to the farm or premises"
      },
      {
        id: "off-farm-radio",
        value: "off",
        text: "Off the farm or premises"
      }
    ],
    errorMessage: errors.onOffFarm
  }) }}
{% endblock %}
