{% from "macros/create-summary.njk" import createSummary %}
{% from "upload-spinner/macro.njk" import uploadSpinner %}
{% extends 'layouts/questions.njk' %}
{% block head %}
  {{ super() }} <meta http-equiv="refresh" content="5"/>
{% endblock %}
{% block form %}
  {{ uploadSpinner({
    title: "Uploading the biosecurity map",
    subTitle: "This may take a few minutes.",
    formPage: false
  }) }}
{% endblock %}