{% extends "govuk/template.njk" %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}
{% from "heading/macro.njk" import appHeading %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link
    href="{{ getAssetPath('stylesheets/application.scss') }}"
    rel="stylesheet"
  />
{% endblock %}

{% block header %}
  {{
    govukHeader({
      homepageUrl: "https://www.gov.uk/",
      classes: "app-header",
      containerClasses: "govuk-width-container",
      serviceName: serviceName,
      serviceUrl: serviceUrl,
      useTudorCrown: true
    })
  }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {{
    govukPhaseBanner({
      tag: {
        text: 'Private beta'
      },
      html: 'This is a new service. <!-- – your <a data-testid="feedback-link" class="govuk-link" href="#">feedback</a> will help us to improve it.-->'
    })
  }}

  {% if breadcrumbs.length > 1 %}
    {{
      appBreadcrumbs({
        items: breadcrumbs
      })
    }}
  {% endif %}

  {% block metaBeforeContent %}
    {{
      govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      })
    }}

    <noscript>
      <style>
        .govuk-back-link {
          display: none;
        }
      </style>
    </noscript>
  {% endblock %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  {{
    govukFooter({
      meta: {
        items: [
          {
            href: "/privacy-policy",
            text: "Privacy"
          },
          {
            href: "https://www.gov.uk/help/cookies",
            text: "Cookies"
          },
          {
            href: "https://www.gov.uk/help/accessibility-statement",
            text: "Accessibility statement"
          }
        ]
      }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
