{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends 'layouts/page.njk' %}
{% block content %}
  {% if (errorMessages) %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{
          govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorMessages
          })
        }}
      </div>
    </div>
  {% endif %}
  {% if (heading) %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ heading }}</h1>
      </div>
    </div>
  {% endif %}
  {% block beforequestion %}
  {% endblock %}
  {% block form %}
    <form method="POST" novalidate>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <input type="hidden" name="crumb" value="{{ crumb }}" />
          <input type="hidden" name="nextPage" value="{{ nextPage }}" />
          {% block questions %}{% endblock %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% block button %}
            {{
              govukButton({
                id: "continue-button",
                text: continueButtonText | default('Continue'),
                classes: continueButtonClasses | default('')
              })
            }}
          {% endblock %}
        </div>
      </div>
    </form>
  {% endblock %}
{% endblock %}
