{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends 'layouts/page.njk' %}

{% block content %}
  {% block beforequestion %}
  {% endblock %}

  <form method="POST" novalidate>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <input type="hidden" name="crumb" value="{{crumb}}" />
        <input type="hidden" name="nextPage" value="{{nextPage}}" />

        {% block questions %} {% endblock %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% block button %}
          {{ govukButton({
            id: "continue-button",
            text: "Continue"
          }) }}
        {% endblock %}
      </div>
    </div>
  </form>
{% endblock %}
