{% extends 'layouts/page.njk' %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          If you need to move animals from a TB restricted premises to a TB
          restricted premises
          <a
            href="https://www.gov.uk/government/publications/tb-restricted-cattle-application-for-movement-licence-in-england"
          >
            complete this GOV.UK application form</a
          >.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
