{{
  govukRadios({
    name: answer.config.payloadKey,
    id: answer.config.payloadKey,
    fieldset:{},
    value: value,
    items: answer.viewModelItems,
    errorMessage: errors[answer.config.payloadKey]
  })
}}
