{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% extends 'layouts/questions.njk' %}
{% from "macros/create-summary.njk" import createSummary %}

{% block beforequestion %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m">Movement origin</h2>
          {{ createSummary(origin) }}
          <h2 class="govuk-heading-m">Receiving the licence</h2>
          {{ createSummary(licence) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block questions %}
  <h2 class="govuk-heading-m">Your declaration</h2>

  <p>Before you submit your application, you need to confirm:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>all relevant sections are complete</li>
    <li>
      all the information given is correct and accurate to the best of your
      knowledge
    </li>
  </ul>

  <!-- form URL below turns off errors on the next page  -->
  {{
    govukCheckboxes
    ({
      name: "confirmation",
      id: "confirmation",
      errorMessage: errorMessage,
      fieldset: {
        legend:{
          text: "",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "confirm",
        text: "I confirm the above statements",
        attributes: {
          'data-testid': 'confirm-statements-checkbox'
        }
      }, {
        value: "other",
        text: "I am submitting this form on behalf of someone else and confirm the above statements",
        attributes: {
          'data-testid': 'someone-else-checkbox'
        }
      }]
    })
  }}
{% endblock %}
