{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% extends 'layouts/questions.njk' %}
{% from "macros/create-summary.njk" import createSummary %}
{% block beforequestion %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h2 class="govuk-heading-m">Movement origin</h2>
        {{ createSummary(origin) }}
        <h2 class="govuk-heading-m">Movement destination</h2>
        {{ createSummary(destination) }}
        <h2 class="govuk-heading-m">Receiving the licence</h2>
        {{ createSummary(licence) }}
      </div>
    </div>
  </div>
{% endblock %}
{% block questions %}
  <h2 class="govuk-heading-m">Your declaration</h2>
  <p>
    Before you submit your application, you must select one of the declaration
    check boxes.
  </p>
  <!-- form URL below turns off errors on the next page  -->
  {{
    govukCheckboxes
    ({
      name: "confirmation",
      id: "confirmation",
      errorMessage: errors.confirmation,
      fieldset: {
        legend:{
          text: "",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "confirm",
        text: "I confirm all the information given about my farm or premises is correct to the best of my knowledge",
        attributes: {
          'data-testid': 'confirm-statements-checkbox'
        }
      }, {
        value: "other",
        text: "I am submitting this form on behalf of someone else and confirm all the information given is correct to the best of my knowledge",
        attributes: {
          'data-testid': 'someone-else-checkbox'
        }
      }]
    })
  }}
{% endblock %}
