{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends 'layouts/questions.njk' %}

{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
    </div>
  </div>
{% endblock %}

{% block beforequestion %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        You can find latitude and longitude measurements on Google maps. Search
        for the location then right click on the area for these details.
      </p>
    </div>
  </div>
{% endblock %}
