{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends 'layouts/page.njk' %}

{% macro createTaskList(tasks) %}

  {% set summaryRows = [] %}
  {% for row in tasks %}
    {% if not row.isEnabled %}
      {% set href = '' %}
      {% set status = {
        text: 'Cannot start yet',
        classes: 'govuk-task-list__status--cannot-start-yet'
      } %}
    {% elif row.isValid %}
      {% set href = row.summaryLink %}
      {% set status = {
        text: 'Completed',
        classes: ''
      } %}
    {% else %}
      {% set href = row.initialLink %}
      {% set status = {
        tag: {
          text: 'Incomplete',
          classes: 'govuk-tag--blue'
        }
      } %}
    {% endif %}

    {% set rows = (summaryRows, summaryRows.push({
      title: {
        text: row.title
      },
      href: href,
      status: status
    })) %}
  {% endfor %}



  {{ govukTaskList({
    idPrefix: "task-list",
    items: summaryRows
  }) }}
{% endmacro %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-8">
          <h1 class="govuk-heading-l">
              {{ heading }}
          </h1>

          <p>You have <span data="test-id-task-to-complete-count">{{ incompleteTasks }} out of {{ gdsTasks.length }}</span> sections left to complete.</p>

          {{ createTaskList(tasks) }}

          <form method="POST">
            <input type="hidden" name="crumb" value="{{crumb}}" />

            {{ govukButton({
              text: buttonText,
              classes: "govuk-button--secondary"
            }) }}
          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
