{% extends 'layouts/questions.njk' %}
{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
    </div>
  </div>
{% endblock %}
{% block beforequestion %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        We need to know what measures are being taken to reduce the risk of
        infection from badgers and wildlife to the incoming cattle.
      </p>
      <p>
        You need to include information on how you are minimising access to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>feed stores</li>
        <li>feed troughs</li>
        <li>mineral licks and water troughs</li>
        <li>latrines and setts</li>
      </ul>
      <p>
        You should also include information on any other measures you are
        taking.
      </p>
    </div>
  </div>
{% endblock %}
