{% extends 'layouts/questions.njk' %}

{% block beforeButton %}
  <p>
    If there are measures you are not taking but want to find out more,
    <a
      href="https://tbhub.co.uk/preventing-tb-breakdowns/protect-your-herd-from-bovine-tb/protect-your-herd-from-tb-a-review-of-the-science/"
      target="_blank"
    >
      read the guidance on the TB Hub</a
    >
    (opens in a new tab).
  </p>
{% endblock %}
