{% extends 'layouts/questions.njk' %}

{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
    </div>
  </div>
{% endblock %}

{% block beforequestion %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        To prevent the spread of TB, cleaning and disinfection measures for
        shared buildings and equipment should be in place.
      </p>
      <p>This can include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>designated disinfection points</li>
        <li>cleaning and disinfecting shared machinery</li>
        <li>
          not sharing equipment or machinery between the groups of incoming and
          resident cattle
        </li>
        <li>
          cleaning and disinfection measures for shared milking and testing
          facilities
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
