name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

jobs:
  pr-validator:
    name: Run Pull Request Checks
    env:
      BIOSECURITY_FEATURE_ENABLED: true
      UPLOADER_URL: "http://localhost:7300"
      FILE_S3_BUCKET: "dev-apha-apps-perms-file-upload-c63f2"
      FILE_S3_PATH: "biosecurity-map"
      CONSUMER_BUCKETS: "apha"
      MOCK_VIRUS_SCAN_ENABLED: false

    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test code and Create Test Coverage Reports
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: |
          npm ci
          npm audit --omit=dev
          npm run build
          npm run format:check
          npm run lint
          npm test

      - name: Start docker compose
        env:
          NOTIFY_TEMPLATE_ID: ${{ secrets.NOTIFY_TEMPLATE_ID }}
          NOTIFY_API_KEY: ${{ secrets.NOTIFY_API_KEY }}
          NOTIFY_CASE_DELIVERY_EMAIL_ADDRESS: ${{ secrets.NOTIFY_CASE_DELIVERY_EMAIL_ADDRESS }}

        run: |
          docker compose up --wait-timeout 300 -d --quiet-pull

      - name: SonarCloud Scan
        if: github.actor != 'dependabot[bot]'
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Journey tests
        run: |
          npm run user-journey-test

      - name: cleanup
        if: always()
        run: docker compose down
