name: Journey Tests

on:
  workflow_dispatch:
  workflow_run:
    workflows: [ 'Publish' ]
    types:
      - completed
jobs:
  test:
    uses: defra/apha-apps-perms-move-animal-uat/.github/workflows/run-tests.yaml@main
