name: Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: '094954420758'

concurrency:
  group: publish-main

jobs:
  build:
    if: github.run_number != 1
    name: CDP-build-workflow
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Create Test Coverage Reports
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: |
          npm ci
          npm audit --omit=dev
          npm run build
          npm run format:check
          npm run lint
          npm test

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Start docker compose
        env:
          NOTIFY_TEMPLATE_ID: ${{ secrets.NOTIFY_TEMPLATE_ID }}
          NOTIFY_API_KEY: ${{ secrets.NOTIFY_API_KEY }}
          NOTIFY_CASE_DELIVERY_EMAIL_ADDRESS: ${{ secrets.NOTIFY_CASE_DELIVERY_EMAIL_ADDRESS }}
          GATEWAY_ID: ${{ secrets.GATEWAY_ID }}
          GATEWAY_PASSWORD: ${{ secrets.GATEWAY_PASSWORD }}
        run: |
          docker compose up --wait-timeout 300 -d --quiet-pull

      - name: Journey tests
        run: |
          npm run user-journey-test

      - name: cleanup
        if: always()
        run: docker compose down

      - name: Build and Publish
        uses: DEFRA/cdp-build-action/build@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
