name: Browserstack tests (core)

on:
  schedule:
    - cron: "0 0 * * *" # Runs at midnight
  workflow_dispatch: 
    inputs:
      exportLogs:
        description: 'Export docker logs'     
        required: false
        default: 'false'
        options: 
          - true
          - false

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: '094954420758'

concurrency:
  group: browserstack-core-tests

jobs:
  build:
    name: CDP-build-workflow
    env: 
      GATEWAY_ID: ${{ secrets.GATEWAY_ID }}
      GATEWAY_PASSWORD: ${{ secrets.GATEWAY_PASSWORD }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Start docker compose
        env:
          NOTIFY_TEMPLATE_ID: ${{ secrets.NOTIFY_TEMPLATE_ID }}
          NOTIFY_API_KEY: ${{ secrets.NOTIFY_API_KEY }}
          NOTIFY_CASE_DELIVERY_EMAIL_ADDRESS: ${{ secrets.NOTIFY_CASE_DELIVERY_EMAIL_ADDRESS }}
          GATEWAY_ID: ${{ secrets.GATEWAY_ID }}
          GATEWAY_PASSWORD: ${{ secrets.GATEWAY_PASSWORD }}
          DEFRA_ID_CLIENT_SECRET: ${{ secrets.DEFRA_ID_CLIENT_SECRET }}
        run: |
          docker compose up --wait-timeout 300 -d --quiet-pull

      - name: Browserstack tests
        run: |
          npm ci
          npm run user-journey-test:bs
        env:
          BROWSERSTACK_USER: ${{ secrets.BROWSERSTACK_USER }}
          BROWSERSTACK_KEY: ${{ secrets.BROWSERSTACK_KEY }}
          
      - name: debug
        if: ${{ inputs.exportLogs == 'true' }}
        run: |
          docker compose logs > logs.txt
          docker ps
      - name: Upload docker compose logs
        if: ${{ inputs.exportLogs == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-logs
          path: ./logs.txt

      - name: cleanup
        if: always()
        run: docker compose down
